{% load humanize %}
<html>
<body>
    <h3> 주문 정보 </h3>
    <p> 주문서 No. : {{ order.id }} </p>
    <p> 주문일자 :   {{ order.created|date:"Y m d" }}</p>
    <p> 주문자 :     {{ order.name }} </p>
    <p> 이메일 :   {{ order.email }} </p>
    <p> 주소 :   {{ order.address }} </p>
    <p> 전화번호 :  {{ order.tel}} </p>

    <h3>주문 상품 내역</h3>
    <table border=1>
        <thead>
            <tr>
                <th>상품</th>
                <th class="num">단가</th>
                <th class="num">수량</th>
                <th class="num">금액</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
            <tr >
                <td>{{ item.product.name }}</td>
                <td class="num">{{ item.price | intcomma}}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">{{ item.get_cost | intcomma}}</td>
            </tr>
        {% endfor %}
        {% if order.coupon %}
            <tr>
                <td colspan="3">"{{ order.coupon.code }}" coupon ({{ order.discount }}% off)</td>
                <td class="num">-{{ order.get_total_discount | intcomma}}</td>
            </tr>
        {% endif %}
            <tr class="total">
                <td colspan="3">Total</td>
                <td class="num">{{ order.get_total_cost | intcomma }}</td>
            </tr>
        </tbody>
    </table>

    <h3>지불 상태</h3>
    {% if order.paid %}지불 완료{% else %}지불 보류{% endif %}
    
</body>
</html>
