{% load static %}
<html>
  <head>  
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />   
  </head>
  <body>
    <div class="wrapper">
      <img src="{% static 'images/01.jpg' %}" /> 
      <img src="{% static 'images/02.jpg' %}" /> 
      <img src="{% static 'images/03.jpg' %}" /> 
      <img src="{% static 'images/04.jpg' %}" /> 
      <img src="{% static 'images/05.jpg' %}" /> 
      <img src="{% static 'images/06.jpg' %}" /> 
      <img src="{% static 'images/07.jpg' %}" /> 
      <img src="{% static 'images/08.jpg' %}" /> 
      <img src="{% static 'images/09.jpg' %}" /> 
      <img src="{% static 'images/10.jpg' %}" /> 
    </div> 
  </body>
</html>
